body{
	background-color:beige;
	font-family:'Indie Flower';
	margin:0px;
	padding:0px;
	}
header{
	background-color:rgb(238, 224, 208);
	color:blue;
	border-radius:20px;
	box-shadow:5px 5px 5px 5px lightblue;
	padding:20px;
}
h1, h3, h5{
	text-align:center;
}
ul{
	text-decoration:none;
	padding-top:30px;
	padding-bottom:20px;
	text-align:center;
}
li{
	display:inline-block;
	background-color:blue;
	color:white;
	padding:10px;
	border-radius:20px 0 20px 0;
	transition:0.8s;
	margin-left:10px;
	margin-right:10px;
}
li:hover{
	background-color:brown;
	color:orange;
	border-radius:0 20px 0 20px;
}